.ProseMirror {
    padding: 10px;
    font-family: arial;
    outline: none;
    overflow-y: scroll;
    line-height: 1.4;
    font-size: 14px
}

.ProseMirror p {
    margin: 0px;
}

.ProseMirror:hover {
    text-decoration-line: none !important;
}

code {
    display: inline-block;
    padding: 0px 4px;
    border-radius: 5px;
    margin: 0px;
    color: #c00;
    background-color: #eee;
    font-family: monospace;
}

button {
    border: none;
    border-radius:5px;
    margin:5px;
    min-width: 25px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: #99999977 !important;
}

.is-active {
    background-color: #66666677 !important;
}